/* Navbar.css */

  
.navbar {
  backdrop-filter: blur(20px);
 
  
  border-radius: 8px;
  max-height: 130px;
  z-index: 10;
  padding: 12px 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  
  
 
}
.navbar-as{
  display: flex;
  gap:20px;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  /* align-items: center; */
  
}

.navbar-brand {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.navbar-links {
  display: none;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  color: white;
}

.navbar-a {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-style: none;
  font-weight: 400;
}

.navbar-a:hover {
  
  text-decoration: underline;
  color:linear-gradient(135deg, #B852D7, #AE5BE9, #C65A94);

}

.dot{
padding: 5px;
background:linear-gradient(135deg, #B852D7, #AE5BE9, #C65A94);
align-items: right;
margin-top:-18px;
border-radius: 100%;
}

.navbar-btn {

  font-size: 14px;
  padding: 8px 12px;
  border-radius: 3px;
  background: linear-gradient(135deg, #B852D7, #AE5BE9, #C65A94);
  display: flex;
  align-items: center;
  gap: 8px;
  color:white;
}

.btn-icon{
  color: white;
}

.try-btn{
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 1px 3px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
  border-radius: 3px;
}

.navbar-hamburger {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.navbar-close-menu {
  color: #d1d1d1;
  font-size: 16px;
  cursor: pointer;
  z-index: 40;
  padding: 8px;
  background: #2c2c2c;
}

.navbar-bottom {
  display: flex;
  justify-content: center;
  padding-right: px;
  margin-top: 16px;
  width: 100%;
  background: rgba(255, 182, 193, 0.3);
  padding: 3px;
  gap: 20px;
  
}

.navbar-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: px;
  gap: 12px;
}

.bus-icon{
  color: yellow;
}
.navbar-info-text {
  font-size: 14px;
  color: white;
}

.navbar-close-info {
  font-size: 16px;

color: white;
font-weight: 600;
  padding: 4px;
  cursor: pointer;
}


.mobile-logo{
      
  width: 40px;
  height: 40px;
}


/* Responsive Styling */
@media (min-width: 768px) {
  .navbar-a {
    display: flex;
  }

  .navbar-btn {
    display: flex;
    flex-direction: row;
  }

  .navbar-hamburger {
    display: none;
  }
  .mobile-logo{

      display: none;
  }


  .navbar-top{


    display: flex;
    justify-content: space-between;
    
  
  }
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  
.navbar-brand{
  display: none;
}


.navbar-bottom{
display: none;
}


}
